body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: center;
    background-image: url('../Images/background-1.jpg');
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.post > h3, .post > div {
    padding: 5px;
    background: #e4e4e4;
    
    margin: 0px;
    opacity: 0.7;
}
.post{
    margin-top: 10px;
}
.post>h3{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.body{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    
}
.titleRow{
    background: #808080;
}
.navbar, .navbar-inverse, .navbar-fixed-top{
   
}
.postTitle{
    background:#d3d3d3;
    background: #808080;
}
.sidebar {
    margin-top: 10px;
    background:#000000;
    opacity:0.9;
    border-radius: 5px;
    padding-bottom: 10px;
}

.sidebar>div, .sidebar>h4{
    padding-left:5px;
}
.sidebar>div{
    padding-bottom: 5px;
}
.sidebar>h4{
    padding-bottom: 0px;
    padding-top:10px;
}
.sidebar>div>span{
    font-size:13px;
}
.zaglavieDetails{
    background:#808080;
}
.deistviq{
    background:#e4e4e4;
}
.alert{
    margin-top:10px;
}